* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', arial, sans-serif;
    max-width: 1440px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: transparent;
    padding: 10px 20px;
}

header .wrapper {
    max-width: calc(100% - 170px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


@media (max-width:767px) {
    .logo {
        flex-grow: 1;
    }

    .wrapper {
        max-width: calc(100% - 8px) !important;
    }
}


header .logo a {
    text-decoration: none;
    color: #140440;
    font-weight: 600;
    ;
}

header .logo span {
    display: inline-block;
    margin-right: 8px;
    color: blue;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}


.toptitle {
    text-align: center;
}

.container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

@media (max-width:420px) {
    .container {
        height: 100vh;
    }
}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}

.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}



form {
    margin-top: 30px;
}

.fname {
    font-weight: 600;
    font-size: 14px;
    color: #181818;
}

.form .field {
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 8px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #016dcb;
}

.form-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.form-link-two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    font-size: 14px;
}

.containerbox {
    display: block;
    position: relative;
    padding-left: 21px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.containerbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
}


.container:hover input~.checkmark {
    background-color: #ccc;
}


.containerbox input:checked~.checkmark {
    background-color: #2196F3;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.containerbox input:checked~.checkmark:after {
    display: block;
}

.containerbox .checkmark:after {
    left: 3px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'Or use one of these option';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 5px;
    font-size: 14px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook {
    color: #fff;
    background-color: #4267b2;
}

a.facebook .facebook-icon {
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.facebook-icon,
img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google {
    border: 1px solid #CACACA;
}

a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }

}

.fa-facebook {
    margin-right: 8px;
}

.fa-google {
    margin-right: 8px;
    color: #f73b00;
}